{% extends "frontend_templates/base.html" %}

{% block header %}
  {% with PageTitle="Website Name :: Webstie" PageName="cso" %}
  {{block.super}}
  {% endwith %}
{% endblock header %}


{% block midpart %}


<section class="common_breadcrumb extrapadding_left">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="javascript:;">Airtel Delhi Half Marathon 2020</a></li>
			<li><a href="javascript:;">Participating CSO's</a></li>
		</ul>
	</div>
</section>
<section class="pagedesign_banner">
	<div class="pagedesign_banner_container mb100">
		<div class="d-flex flex-wrap justify-content-center">
			<div class="commontitleclass text-center">This year<span>Participating CSOs-</span><div class="color_red">37</div></div>
		</div>
		<div class="pagebannermenu">
			<div class="d-flex flex-wrap align-items-center justify-content-center">
				<div class="pagebannersearch">
					<input type="text" class="searchinputstyle" placeholder="Search by Name">
					<a href="javascript:;"><img src="/static/assets/images/search.png" class="search_btn"></a>
				</div>
				<div class="pagebannerdropdown">
					<label class="">SELECTED CAUSE</label>
					<select name="" class="pagebannerdropdownselect">
			        	<option value="">option1</option>
			        	<option value="">option2</option>
			        	<option value="">option3</option>
			        </select>
				</div>
			</div>
		</div>
	</div>
	<img src="/static/assets/images/layer_img2.png" class="bottom_layer_img">
</section>

<section class="cso_part">
	<div class="container">
		<div class="commonbox_wrapper">
			<div class="d-flex flex-wrap">
				<div class="commanbox_parent">
					<div class="commonbox">
						<div class="d-flex justify-content-center">
							<div class="company_logo backimgstyle"  style="background-image:url('/static/assets/images/img3.png')"></div>
						</div>
						<div class="user_detail text-center">KrishnArya Seva Girls Education Society</div>
						<div class="cb_title text-center">Working with - Girls</div>
						<div class="user_detail">Educating girls and providing them all facilities related to education, food and health-care </div>
						<div class="link_part">
							<div class="d-flex justify-content-center">
			    				<a href="javascript:;" class="share_link"><span class="share_span">Be a Champion</span></a>
			    				<a href="javascript:;" class="share_link"><span class="share_span">share</span></a>
			    			</div>
		    			</div>
						<div class="d-flex flex-wrap align-items-center justify-content-center">
							<div class="radiobtn_part">
								<div>
								  	<input type="radio" id="b1_btn1" name="box1_btn">
			    					<label class="radiobtn_label" for="b1_btn1">&#8377; 3000</label>
							 	</div>
							 </div>
							 <div class="radiobtn_part"> 
							 	<div>
								 	<input type="radio" id="b1_btn2" name="box1_btn">
			    					<label class="radiobtn_label" for="b1_btn2">&#8377; 2000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b1_btn3" name="box1_btn">
			    					<label class="radiobtn_label" for="b1_btn3">&#8377; 1000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b1_btn4" name="box1_btn">
			    					<label class="radiobtn_label" for="b1_btn4">&#8377; 500</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b1_btn5" name="box1_btn">
			    					<label class="radiobtn_label" for="b1_btn5">&#8377; Other</label>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="d-flex justify-content-center">
		    				<a href="javascript:;" class="circle_link backimgstyle1" style="background-image:url('/static/assets/images/link_round.png')">Donate</a>
		    			</div>
					</div>
				</div>
				<div class="commanbox_parent">
					<div class="commonbox">
						<div class="d-flex justify-content-center">
							<div class="company_logo backimgstyle"  style="background-image:url('/static/assets/images/swayam_logo.png')"></div>
						</div>
						<div class="user_detail text-center">Swayam</div>
						<div class="cb_title text-center">Working with - Women</div>
						<div class="user_detail">We work with women survivors of violence, their children, schools and colleges, lawyers, judges, police, NGOs, community</div>
						<div class="link_part">
							<div class="d-flex justify-content-center">
			    				<a href="javascript:;" class="share_link"><span class="share_span">Be a Champion</span></a>
			    				<a href="javascript:;" class="share_link"><span class="share_span">share</span></a>
			    			</div>
		    			</div>
						<div class="d-flex flex-wrap align-items-center justify-content-center">
							<div class="radiobtn_part">
								<div>
								  	<input type="radio" id="b2_btn1" name="box2_btn">
			    					<label class="radiobtn_label" for="b2_btn1">&#8377; 3000</label>
							 	</div>
							 </div>
							 <div class="radiobtn_part"> 
							 	<div>
								 	<input type="radio" id="b2_btn2" name="box2_btn">
			    					<label class="radiobtn_label" for="b2_btn2">&#8377; 2000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b2_btn3" name="box2_btn">
			    					<label class="radiobtn_label" for="b2_btn3">&#8377; 1000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b2_btn4" name="box2_btn">
			    					<label class="radiobtn_label" for="b2_btn4">&#8377; 500</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b2_btn5" name="box2_btn">
			    					<label class="radiobtn_label" for="b2_btn5">&#8377; Other</label>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="d-flex justify-content-center">
		    				<a href="javascript:;" class="circle_link backimgstyle1" style="background-image:url('/static/assets/images/link_round.png')">Donate</a>
		    			</div>
					</div>
				</div>
				<div class="commanbox_parent">
					<div class="commonbox">
						<div class="d-flex justify-content-center">
							<div class="company_logo backimgstyle"  style="background-image:url('/static/assets/images/img4.png')"></div>
						</div>
						<div class="user_detail text-center">Soroptimist International of Calcutta</div>
						<div class="cb_title text-center">Working with - Women & Children</div>
						<div class="user_detail">A voluntary women's organization working in West Bengal to improve lives of underprivileged women and children </div>
						<div class="link_part">
							<div class="d-flex justify-content-center">
			    				<a href="javascript:;" class="share_link"><span class="share_span">Be a Champion</span></a>
			    				<a href="javascript:;" class="share_link"><span class="share_span">share</span></a>
			    			</div>
		    			</div>
						<div class="d-flex flex-wrap align-items-center justify-content-center">
							<div class="radiobtn_part">
								<div>
								  	<input type="radio" id="b3_btn1" name="box3_btn">
			    					<label class="radiobtn_label" for="b3_btn1">&#8377; 3000</label>
							 	</div>
							 </div>
							 <div class="radiobtn_part"> 
							 	<div>
								 	<input type="radio" id="b3_btn2" name="box3_btn">
			    					<label class="radiobtn_label" for="b3_btn2">&#8377; 2000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b3_btn3" name="box3_btn">
			    					<label class="radiobtn_label" for="b3_btn3">&#8377; 1000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b3_btn4" name="box3_btn">
			    					<label class="radiobtn_label" for="b3_btn4">&#8377; 500</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b3_btn5" name="box3_btn">
			    					<label class="radiobtn_label" for="b3_btn5">&#8377; Other</label>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="d-flex justify-content-center">
		    				<a href="javascript:;" class="circle_link backimgstyle1" style="background-image:url('/static/assets/images/link_round.png')">Donate</a>
		    			</div>
					</div>
				</div>
				<div class="commanbox_parent">
					<div class="commonbox">
						<div class="d-flex justify-content-center">
							<div class="company_logo backimgstyle"  style="background-image:url('/static/assets/images/img5.png')"></div>
						</div>
						<div class="user_detail text-center">Barasat Unnayan Prostuti</div>
						<div class="cb_title text-center">Working with - Women & Children</div>
						<div class="user_detail">Ensuring rights of women and children through safeguarding. They are protected from all sorts of violence including</div>
						<div class="link_part">
							<div class="d-flex justify-content-center">
			    				<a href="javascript:;" class="share_link"><span class="share_span">Be a Champion</span></a>
			    				<a href="javascript:;" class="share_link"><span class="share_span">share</span></a>
			    			</div>
		    			</div>
						<div class="d-flex flex-wrap align-items-center justify-content-center">
							<div class="radiobtn_part">
								<div>
								  	<input type="radio" id="b4_btn1" name="box4_btn">
			    					<label class="radiobtn_label" for="b4_btn1">&#8377; 3000</label>
							 	</div>
							 </div>
							 <div class="radiobtn_part"> 
							 	<div>
								 	<input type="radio" id="b4_btn2" name="box4_btn">
			    					<label class="radiobtn_label" for="b4_btn2">&#8377; 2000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b4_btn3" name="box4_btn">
			    					<label class="radiobtn_label" for="b4_btn3">&#8377; 1000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b4_btn4" name="box4_btn">
			    					<label class="radiobtn_label" for="b4_btn4">&#8377; 500</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b4_btn5" name="box4_btn">
			    					<label class="radiobtn_label" for="b4_btn5">&#8377; Other</label>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="d-flex justify-content-center">
		    				<a href="javascript:;" class="circle_link backimgstyle1" style="background-image:url('/static/assets/images/link_round.png')">Donate</a>
		    			</div>
					</div>
				</div>
				<div class="commanbox_parent">
					<div class="commonbox">
						<div class="d-flex justify-content-center">
							<div class="company_logo backimgstyle"  style="background-image:url('/static/assets/images/img6.png')"></div>
						</div>
						<div class="user_detail text-center">SeSTA - Seven Sisters Development Assistance</div>
						<div class="cb_title text-center">Working with - Women</div>
						<div class="user_detail">Catalyzing inclusive and sustainable development in North East India by enhancing capabilities of rural communities.</div>
						<div class="link_part">
							<div class="d-flex justify-content-center">
			    				<a href="javascript:;" class="share_link"><span class="share_span">Be a Champion</span></a>
			    				<a href="javascript:;" class="share_link"><span class="share_span">share</span></a>
			    			</div>
		    			</div>
						<div class="d-flex flex-wrap align-items-center justify-content-center">
							<div class="radiobtn_part">
								<div>
								  	<input type="radio" id="b5_btn1" name="box5_btn">
			    					<label class="radiobtn_label" for="b5_btn1">&#8377; 3000</label>
							 	</div>
							 </div>
							 <div class="radiobtn_part"> 
							 	<div>
								 	<input type="radio" id="b5_btn2" name="box5_btn">
			    					<label class="radiobtn_label" for="b5_btn2">&#8377; 2000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b5_btn3" name="box5_btn">
			    					<label class="radiobtn_label" for="b5_btn3">&#8377; 1000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b5_btn4" name="box5_btn">
			    					<label class="radiobtn_label" for="b5_btn4">&#8377; 500</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="b5_btn5" name="box5_btn">
			    					<label class="radiobtn_label" for="b5_btn5">&#8377; Other</label>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="d-flex justify-content-center">
		    				<a href="javascript:;" class="circle_link backimgstyle1" style="background-image:url('/static/assets/images/link_round.png')">Donate</a>
		    			</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}