<section class="pagedesign_banner">
	<div class="pagedesign_banner_container mb100">
		<div class="container">
			<div class="signup_banner">
				<div class="d-flex flex-wrap align-items-center justify-content-center">
					<div class="col-xl-4 col-12">
						<div class="btn_part">
							<button type="button" id="basic"><a class="btn_darkred extra_padding"><span>1. BASIC</span></a></button>
						</div>
					</div>
					<div class="col-xl-4 col-12">
						<div class="btn_part">
							{% if user.is_authenticated %}
								<button type="button" id="contact"><a class="btn_darkred extra_padding"><span>2. CONTACT</span></a></button>
							{% else %}
								<button type="button" id="contact" disabled><a class="btn_darkred extra_padding"><span>2. CONTACT</span></a></button>
							{% endif %}
						</div>
					</div>
					<div class="col-xl-4 col-12">
						<div class="btn_part">
							{% if user.is_authenticated %}
								<button type="button" id="upload"><a class="btn_darkred extra_padding"><span>3. UPLOAD</span></a></button>
							{% else %}
								<button type="button" id="upload" disabled><a class="btn_darkred extra_padding"><span>3. UPLOAD</span></a></button>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="/static/assets/images/layer_img2.png" class="bottom_layer_img">
</section>