{% extends "frontend_templates/base.html" %}

{% block header %}
  {% with PageTitle="Website Name :: Webstie" PageName="eventstsk25k" %}
  {{block.super}}
  {% endwith %}
{% endblock header %}


{% block midpart %}

<section class="change_display blue">
<div class="pagedesign_banner">
	<div class="pagedesign_banner_container mb40">
		<div class="container">
			<div class="commontitleclass text-center">This year<span>Participating</span></div>
			<div class="event_banner ">
				<div class="d-flex flex-wrap justify-content-center">
					<div class="eb_box text-center">
						<div class="commontitleclass ">37</div>
						<div class="ebbox_text text-center">CSOs</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">1</div>
						<div class="ebbox_text text-center">Care Champion</div>
						<div class="ebbox_text text-center">- Diamond</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">2</div>
						<div class="ebbox_text text-center">Care Champion</div>
						<div class="ebbox_text text-center">- Gold</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">2</div>
						<div class="ebbox_text text-center">Care Champion</div>
						<div class="ebbox_text text-center">- Silver</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">0</div>
						<div class="ebbox_text text-center">Team Youth</div>
						<div class="ebbox_text text-center">Cares</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">22</div>
						<div class="ebbox_text text-center">iCare Fundraiser</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">1</div>
						<div class="ebbox_text text-center">Corporate Cares</div>
						<div class="ebbox_text text-center">- Team 100</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">2</div>
						<div class="ebbox_text text-center">Corporate Cares</div>
						<div class="ebbox_text text-center">- Team 25</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">2</div>
						<div class="ebbox_text text-center">Corporate Cares</div>
						<div class="ebbox_text text-center">- Team 45</div>
					</div>
					<div class="eb_box text-center">
						<div class="commontitleclass ">6</div>
						<div class="ebbox_text text-center">Corporate Cares</div>
						<div class="ebbox_text text-center">- Team 15</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<img src="/static/assets/images/layer_img2.png" class="bottom_layer_img">
</div>

<div class="commonevent_box">
	<div class="container">
		<div class="commonbox_wrapper">
			<div class="d-flex flex-wrap">
				<div class="commanbox_parent">
					<div class="commonbox_title fbold text-center">CSOs</div>
					<div class="commonbox">
						<div class="d-flex justify-content-center">
							<div class="company_logo backimgstyle"  style="background-image:url('/static/assets/images/cry_logo.png')"></div>
						</div>
						<div class="user_detail text-center">CRY- Child Rights and You</div>
						<div class="cb_title text-center">Working with - Children</div>
						<div class="user_detail">Works towards ensuring a lasting change in the lives of underprivileged children across 23 states in the country. </div>
						<div class="link_part">
							<div class="d-flex justify-content-center">
			    				<a href="javascript:;" class="share_link"><span class="share_span">Be a Champion</span></a>
			    				<a href="javascript:;" class="share_link"><span class="share_span">share</span></a>
			    			</div>
		    			</div>
						<div class="d-flex flex-wrap align-items-center justify-content-center">
							<div class="radiobtn_part">
								<div>
								  	<input type="radio" id="s1" name="radio-group">
			    					<label class="radiobtn_label" for="s1">&#8377; 3000</label>
							 	</div>
							 </div>
							 <div class="radiobtn_part"> 
							 	<div>
								 	<input type="radio" id="s2" name="radio-group">
			    					<label class="radiobtn_label" for="s2">&#8377; 2000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s3" name="radio-group">
			    					<label class="radiobtn_label" for="s3">&#8377; 1000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s4" name="radio-group">
			    					<label class="radiobtn_label" for="s4">&#8377; 500</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s5" name="radio-group">
			    					<label class="radiobtn_label" for="s5">&#8377; Other</label>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="d-flex justify-content-center">
		    				<a href="javascript:;" class="circle_link backimgstyle1" data-toggle="modal" data-target="#exampleModalLong" style="background-image:url('/static/assets/images/link_round.png')">Donate</a>
		    			</div>
					</div>
					<div class="viewall"><a href= "javascript:;">View All CSOs</a></div>
				</div>
				<div class="commanbox_parent">
					<div class="commonbox_title fbold text-center">Champions</div>
					<div class="commonbox">
						<div class="d-flex justify-content-center">
							<div class="user_img backimgstyle"  style="background-image:url('/static/assets/images/user_img.png')"></div>
						</div>
						<div class="user_detail text-center">Anuradha Kapoor</div>
						<div class="cb_title text-center">Champion for - Swayam</div>
						<div class="user_detail">Swayam is a non-profit feminist organisation committed to advancing women's rights and ending inequality</div>
						<div class="link_part">
							<div class="d-flex justify-content-center">
			    				<a href="javascript:;" class="share_link"><span class="share_span">Be a Champion</span></a>
			    				<a href="javascript:;" class="share_link"><span class="share_span">share</span></a>
			    			</div>
		    			</div>
						<div class="d-flex flex-wrap align-items-center justify-content-center">
							<div class="radiobtn_part">
								<div>
								  	<input type="radio" id="s1" name="radio-group">
			    					<label class="radiobtn_label" for="s1">&#8377; 3000</label>
							 	</div>
							 </div>
							 <div class="radiobtn_part"> 
							 	<div>
								 	<input type="radio" id="s2" name="radio-group">
			    					<label class="radiobtn_label" for="s2">&#8377; 2000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s3" name="radio-group">
			    					<label class="radiobtn_label" for="s3">&#8377; 1000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s4" name="radio-group">
			    					<label class="radiobtn_label" for="s4">&#8377; 500</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s5" name="radio-group">
			    					<label class="radiobtn_label" for="s5">&#8377; Other</label>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="d-flex justify-content-center">
		    				<a href="javascript:;" class="circle_link backimgstyle1" style="background-image:url('/static/assets/images/link_round.png')">Donate</a>
		    			</div>
					</div>
					<div class="viewall"><a href= "javascript:;"> View All Chapions</a></div>
				</div>
				<div class="commanbox_parent">
					<div class="commonbox_title fbold text-center">Corporates</div>
					<div class="commonbox">
						<div class="d-flex justify-content-center">
							<div class="company_logo"><span class="company_name fbold">Tata Hitachi</span></div>
						</div>
						<div class="user_detail text-center">CRY- Child Rights and You</div>
						<div class="link_part">
							<div class="d-flex justify-content-center">
			    				<a href="javascript:;" class="share_link"><span class="share_span">share</span></a>
			    			</div>
		    			</div>
						<div class="d-flex flex-wrap align-items-center justify-content-center">
							<div class="radiobtn_part">
								<div>
								  	<input type="radio" id="s1" name="radio-group">
			    					<label class="radiobtn_label" for="s1">&#8377; 3000</label>
							 	</div>
							 </div>
							 <div class="radiobtn_part"> 
							 	<div>
								 	<input type="radio" id="s2" name="radio-group">
			    					<label class="radiobtn_label" for="s2">&#8377; 2000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s3" name="radio-group">
			    					<label class="radiobtn_label" for="s3">&#8377; 1000</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s4" name="radio-group">
			    					<label class="radiobtn_label" for="s4">&#8377; 500</label>
			    				</div>
		    				</div>
		    				<div class="radiobtn_part"> 
		    					<div>
								 	<input type="radio" id="s5" name="radio-group">
			    					<label class="radiobtn_label" for="s5">&#8377; Other</label>
			    				</div>
		    				</div>
		    			</div>
		    			<div class="d-flex justify-content-center">
		    				<a href="javascript:;" class="circle_link backimgstyle1" style="background-image:url('/static/assets/images/link_round.png')">Donate</a>
		    			</div>
					</div>
					<div class="viewall"><a href= "javascript:;"> View All Corporates</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<section class=" event_display">
	<div class="container">
		<div class="commontitleclass text-center">Last year<span>Highlights</span></div>
		<div class="display_container">
			<div class="d-flex flex-wrap">
				<div class="display_part">
					<div class="display_video"></div>
					<div class="display_title">The platform of ADHM is important for the Civil Society</div>
				</div>
				<div class="display_part">
					<div class="display_video"></div>
					<div class="display_title">HDFC Ltd & ADHM</div>
				</div>
				<div class="display_part">
					<div class="display_video"></div>
					<div class="display_title">My Act of Giving (03) | Airtel Delhi Half Marathon</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}def post(self,request):
slug = request.data.get('event')
event_obj = Event.objects.get_or_none(slug=slug,active=True)
fundraising_list=[]
a = [{"property":"og:type" ,"content":"article"},{ "property":"og:title" ,"content":"When Great Minds Don't Think Alike" },{ "property":"og:description", "content":"How much does culture influence creative thinking"}]
try:
