{% extends "frontend_templates/base.html" %}

{% block header %}
  {% with PageTitle="Website Name :: Webstie" PageName="eventfaq" %}
  {{block.super}}
  {% endwith %}
{% endblock header %}


{% block midpart %}

<section class="common_breadcrumb extrapadding_left">
	<div class="container">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="javascript:;">faq's</a></li>
		</ul>
	</div>
</section>

<section class="pagedesign_banner">
	<div class="pagedesign_banner_container mb100">
		<div class="container">
		</div>
	</div>
	<img src="/static/assets/images/layer_img2.png" class="bottom_layer_img">
</section>



<section class="commonsections event_faq">
	<div class="container">
		<div class="event_container">
			<div class="d-flex flex-wrap justify-content-between">
				<div class="event_box">
					{% for faq in faq_cat %}
					{% for ques in faq.get_questions %}
					<a href="javascript:;" class="text_part">
						<div class="d-flex align-items-start justify-content-between">
							<div>
								<span class="fbold">{{ques.question}}</span>
							</div>
							<img src="/static/assets/images/plus.svg" class="plus_sign">
						</div>
					</a>
					<div class="textpart_toggle" style="display:none;">
						<p>
							<span class="fbold">
								{% for ans in ques.get_answer %}
                                {{ans.answer|safe}}
                            {% endfor %}
							</span>
						</p>
					</div>
					{% endfor %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
	
<section class="findananswer"> 
	<div class="container">
		<form method="POST" action="" id="faq">
	  	{% csrf_token %}

			<div class="commansubtitleclass text-center"><span class= "commansubtitleclass grey">CAN'T FIND AN </span>ANSWER?</div>

			<div class="form_box">
				<p>Fields marked with an asterisk (*) are required</p><br><br>
				<div class="row">
					<div class="col-xl-4 col-12">
						<div class="form-group customfieldinput">
					        <label>Event<span>*</span></label>
					        <select name="event" id="event" >
					        	<option value="" selected="selected"></option>
					        	{% for e in events %} 
					        	<option value="{{ e.id }}">{{ e.name }}</option>
					        	{% endfor %} 
					        </select>
					    </div>
					</div>
					<div class="col-xl-4 col-12">
						<div class="form-group customfieldinput">
					        <label>First Name<span>*</span></label>
					        <input class="form-control " type="text" name="name" id="name">
					        <span class="error_msg">invalid input</span>
					    </div>
					</div>
					<div class="col-xl-4 col-12">
						<div class="form-group customfieldinput">
					        <label>Email ID<span>*</span></label>
					        <input class="form-control " type="text" name="email" id="email">
					        <span class="error_msg">invalid input</span>
					    </div>
					</div>
					<div class="col-xl-4 col-12">
						<div class="form-group customfieldinput">
					        <label>Mobile No.</label>
					        <input class="form-control " type="text" name="phone" id="phone">
					        <span class="error_msg">invalid input</span>
					    </div>
					</div>
					<div class="col-xl-12 col-12">
						<div class="form-group customfieldinput">
					        <label>Message<span>*</span></label>
					        <input class="form-control " type="text" name="message" id="message" >
					        <span class="error_msg">invalid input</span>
					    </div>
					</div>
				</div>
				
				<div class="d-flex justify-content-center">
					<div class="btn_part">
						<button type="submit"><a class="btn_darkred extra_padding"><span>Send</span>
						</a></button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>	


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="/static/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript">
$(document).ready(function($) {

     //Mobile number validation  
      var mobile_number = 10;
      $('#phone').keydown( function(e){
          if ($(this).val().length >= mobile_number) { 
              $(this).val($(this).val().substr(0, mobile_number));
          }
      });
      $('#phone').keyup( function(e){
          if ($(this).val().length >= mobile_number) { 
              $(this).val($(this).val().substr(0, mobile_number));
          }
      });

      //Email validator function
     $.validator.addMethod('emailValidate', function (value, element) {
            return this.optional(element) || /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(value);
        }, "Please enter a valid email address.");
     
     //Form validations 
     $('#faq').validate({
        rules: {
                name: {required:true},
                email: {required:true,emailValidate: true},
                phone: {digits:true,minlength:10,maxlength:10},
                event: {required:true},
                message: {required:true},
              },  
      });
});  
</script>


{% endblock %}